* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;

	display: flex;
}

.option {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: black;

	width: 30%;
	height: 100vh;
	padding: 5px;

	&>.config>* {
		display: flex;
		flex-direction: row;
		width: 80%;

		margin: 3% auto;
	}

	&>.help {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 80%;
		margin: 3% auto;

		&>div {
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			color: white;
		}
	}
}

.play-btn {
	&>button {
		width: 100%;
	}
}

.run-btn {
	&>input {
		width: 75%;
	}

	&>button {
		width: 25%;
	}
}


.speed-btn {
	&>input {
		width: 75%;
	}

	&>button {
		width: 25%;
	}
}


.gen-btn {
	&>button {
		width: 25%;
	}

	&>input {
		width: 50%;
	}
}

.size-btn {
	&>button {
		width: 25%;
	}

	&>input {
		width: 25%;
	}

	&>div {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 25%;

		&>label {
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			color: white;
		}
	}
}


.rules-btn {
	&>input {
		width: 75%;
	}

	&>button {
		width: 25%;
	}
}


.universe {
	display: flex;
	flex-direction: column;
	margin: 0px;

	width: 70%;
}

.inner-row {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.cell {
	display: block;

	border: none;
	width: 100%;
	cursor: pointer;

	&.alive {
		background-color: green;
	}

	&.dead {
		background-color: grey;
	}
}
