* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;

	display: flex;
}

.option {
	display: flex;
	flex-direction: column;

	background-color: black;

	width: 20%;
	height: 100vh;
	padding: 5px;

	&>* {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
}

.play-btn {
	&>button {
		width: 100%;
	}
}


.gen-btn {
	&>button {
		width: 25%;
	}

	&>input {
		width: 50%;
	}
}

.universe {
	display: flex;
	flex-direction: column;
	margin: 0px;

	width: 80%;
}

.inner-row {
	display: flex;
	flex-direction: row;
	width: 100vh;
	height: 100%;
}

.cell {
	display: block;

	border: none;
	width: 100%;
	padding: 10px;
	cursor: pointer;

	&.alive {
		background-color: green;
	}

	&.dead {
		background-color: grey;
	}
}
